<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{navpro[3]}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">{{navpro[0]}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  href="#scrollspyHeading2">{{navpro[2]}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  href="#scrollspyHeading3">{{navpro[1]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#scrollspyHeading4">{{navpro[3]}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#scrollspyHeading5">{{navpro[3]}}</a>
          </li> 
           <li class="nav-item">
            <a class="nav-link"  href="#scrollspyHeading6">{{navpro[3]}}</a>
          </li>

        
        </ul>
       <button class="Cv" >{{Download}}</button>
      </div>
    </div>
  </nav>
