.HeroSection{
    height: 920px;
    margin-bottom: 2000px;
    background-color: aquamarine;
    text-decoration: dotted;
    padding: 0 auto;
    }


    .AboutSection{
        height: 920px;
        margin-bottom: 2000px;
        background-color: aquamarine;
        text-decoration: dotted;
        padding: 0 auto;
        }

        
    .ProjectsSection {
        height: 920px;
        margin-bottom: 2000px;
        background-color: aquamarine;
        text-decoration: dotted;
        padding: 0 auto;
        }

        