
  <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  
 
 <div class="HeroSection"> 
    <h4 id="scrollspyHero">First heading</h4>
 
 </div>
 

   

  </div>



  <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  
 
    <div class="AboutSection"> 
       <h4 id="scrollspyAbout">About heading</h4>
    
    </div>
    
   
      
   
     </div>
   
  
     <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
  
 
      <div class="ProjectsSection"> 
         <h4 id="scrollspyProjects">Third heading</h4>
      
      </div>
      
     
        
     
       </div>
     
  
   
       
                 
  