
  <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
  
 
 <div class="HeroSection"> 
    <h4 id="scrollspyHero"></h4>
 
    <div class="herodiv text-start">
      <div class="row">
        <div class="t  col">
        <h4 class="greeting" >Hi I'm </h4>
        <h1 class="name"  ><Span class="slide-in-tr">Adam </Span> <span>Dono</span> </h1>
        <h1><Span>Full Stack  <span>Developer</span></Span></h1>
        <p class="fade-in-left" >I am a dynamic Full Stack Developer with a strong expertise in Angular, coupled with a creative edge in UI/UX design. I craft seamless, responsive web applications that prioritize user experience, utilizing modern front-end technologies and robust back-end solutions. My skill set extends to no-code tools and Figma, where I translate complex ideas into visually compelling and intuitive designs. </p>
<div class="icon"> <i class="fa-brands fa-x-twitter fa-2xl "></i>  <i class="fa-brands fa-linkedin fa-2xl " style="color: #74C0FC;"></i>  <i class="fa-brands fa-github fa-2xl " style="color: #000000;"></i>  <i class="fa-brands fa-dribbble fa-2xl"></i> </div>

<div class="buttonss">  <div class="bounce-in-top">      
  <button type="button" class="btn btn-success">{{Download}}</button>  </div></div>

        </div>
        <div class="u col">
<div class="slide-in-tr ">

  <img  class="rock" src="../assets/pngwing.com.png" alt="Image">
</div>

        
        </div>
       
      </div>
    </div>

 </div>
 

   

  </div>



  <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
  
 
    <div class="AboutSection"> 
       <h4 id="scrollspyAbout">About heading</h4>
    
    </div>
    
   
      
   
     </div>
   
  
     <div class="t" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary  rounded-2" tabindex="0">
  
 
      <div class="ProjectsSection"> 
         <h4 id="scrollspyProjects">Third heading</h4>
      
      </div>
      
     
        
     
       </div>
     
  
   
       
                 
  